In [1]:
import sys
!{sys.executable} -m pip install splinter

Requirement already satisfied: splinter in c:\users\xiaoqi\anaconda3\lib\site-packages (0.11.0)
Requirement already satisfied: six in c:\users\xiaoqi\appdata\roaming\python\python37\site-packages (from splinter) (1.12.0)
Requirement already satisfied: selenium>=3.141.0 in c:\users\xiaoqi\anaconda3\lib\site-packages (from splinter) (3.141.0)
Requirement already satisfied: urllib3 in c:\users\xiaoqi\anaconda3\lib\site-packages (from selenium>=3.141.0->splinter) (1.24.1)

In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import time

# Part 1: Data Extraction, aka: web scraping

In [3]:
total_store = []
total_location = []
total_rate = []
total_type = []
total_info = []
# total_review=[]
# total_number= []

# 1. Open Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

for num in [0, 100, 200, 300]:    
    # 2. Enter Url
    url = f'https://www.opentable.com/promo.aspx?covers=4&currentview=list&datetime=2019-07-22+19%3A00&from={num}&latitude=40.803614&longitude=-73.981624&metroid=8&promoid=69&ref=412&size=100&sort=Popularity'
    browser.visit(url)
    print(num)
    # wait 30s to load web
    time.sleep(30)
    html = browser.html
#   html_list.append(html)
    soup = BeautifulSoup(html, 'html.parser')
    store_name = soup.find_all('span', class_='rest-row-name-text')
    location_list = soup.find_all('span',class_='rest-row-meta--location rest-row-meta-text')
    rate_list = soup.find_all('span',class_='recommended-text')
    type_list = soup.find_all('span', class_='rest-row-meta--cuisine rest-row-meta-text')
    info_list = soup.find_all('div', class_='rest-promo-message')
    
#     review_number_list = soup.find_all('span',class_='underline-hover')
#     review_list = soup.find_all('div',class_='review-rating-text xsmall-bold')
    print(f'{len(info_list)} info')
    total_store.extend(store_name)
    total_location.extend(location_list)
    total_rate.extend(rate_list)
    total_type.extend(type_list)
    total_info.extend(info_list)
    
#     total_number.extend(review_number_list)
#     total_review.extend(review_list)
    
browser.quit()

# len(total_store), len(total_location), len(total_rate), len(total_type),len(review_number_list),len(review_list)
len(total_store), len(total_location), len(total_rate), len(total_type), len(total_info)

0
100 info
100
100 info
200
100 info
300
23 info

(323, 323, 320, 323, 323)

In [4]:
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [5]:
# url = 'https://www.opentable.com/promo.aspx?covers=4&currentview=list&datetime=2019-07-22+19%3A00&from=0&latitude=40.803614&longitude=-73.981624&metroid=8&promoid=69&ref=412&size=100&sort=Popularity'
# browser.visit(url)

In [6]:
# html = browser.html

# Part 2: Data Cleaning

In [7]:
# Basic: For loop
# result = []
# for name in store_name:
#     result.append(name.text)
# result

In [8]:
# total_store_name.index('Junoon Main Dining Room')

In [9]:
total_rate.insert(139, 'NA')
total_rate.insert(317, 'NA')
total_rate.insert(238, 'NA')

len(total_rate)

323

In [10]:
# first_rate = total_rate[0]
# first_rate.text

'84% Recommend'

In [11]:
# type(first_rate)

bs4.element.Tag

In [12]:
# total_rate_list = [rate.text for rate in total_rate]
total_rate_list =  []
for item in total_rate:
    if hasattr(item, 'text'):
        total_rate_list.append(item.text)
    else:
        total_rate_list.append('NA')
        
len(total_rate_list)

323

In [17]:
# Advance: list comprehension
total_store_name = [name.text for name in total_store]
total_location_list = [location.text for location in total_location]
total_type_list = [typelist.text for typelist in total_type]
total_info_list = [infolist.text for infolist in total_info]
# total_review_number_list = [numberlist.text for numberlist in total_number]
# total_review_list = [reviewlist.text for reviewlist in total_review]

len(total_store_name), len(total_location_list), len(total_type_list), len(total_info_list)

(323, 323, 323, 323)

In [14]:
# total_store_name.index('Ammos Estiatorio')

# Part 3: Transformation

In [18]:
df_restaurantweek_2019 = pd.DataFrame(
    {'Restaurant': total_store_name,
     'Location': total_location_list,
     'Ratings': total_rate_list,
     'Cuisine': total_type_list,
     'Specials': total_info_list
#      'Number of Reviews': total_review_number_list,
#      'Review Ratings': total_review_list
    })

In [19]:
df_restaurantweek_2019.head()

,Restaurant,Location,Ratings,Cuisine,Specials
0,STK - NYC - Midtown,Midtown West,84% Recommend,Steakhouse,$26 Lunch M-F | $42 Dinner *excluding Saturday
1,Tavern on the Green,Midtown West,91% Recommend,American,$26 Lunch* | $42 Dinner *excluding weekends
2,Lido,Harlem,97% Recommend,Italian,$26 Lunch* | $42 Dinner *excluding weekends
3,Becco,Theater District / Times Square,88% Recommend,Italian,$26 Lunch *excluding Saturday
4,Catch New York,Meatpacking District,84% Recommend,Seafood,$26 Lunch M-F | $26 Brunch *Sunday only | $42...

In [22]:
df_restaurantweek_2019.to_csv("2019RestaurantWeek.csv", index=False, header=True)